<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-6">
      <div class="card">
        <app-g-dona [titulo]="titulo1"
                    [colors]="colors1"
                    [doughnutChartLabels]="doughnutChartLabels1"
                    [doughnutChartValues]="doughnutChartValues1"></app-g-dona>
      </div>
  </div>
  <div class="col-6">
    <div class="card">
      <app-g-dona [titulo]="titulo2"
                  [colors]="colors2"
                  [doughnutChartLabels]="doughnutChartLabels2"
                  [doughnutChartValues]="doughnutChartValues2"></app-g-dona>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
      <div class="card">
        <app-g-dona [titulo]="titulo3"
                    [colors]="colors3"
                    [doughnutChartLabels]="doughnutChartLabels3"
                    [doughnutChartValues]="doughnutChartValues3"></app-g-dona>
      </div>
  </div>
  <div class="col-6">
    <div class="card">
      <app-g-dona [titulo]="titulo4"
                  [colors]="colors4"
                  [doughnutChartLabels]="doughnutChartLabels4"
                  [doughnutChartValues]="doughnutChartValues4"></app-g-dona>
    </div>
  </div>
</div>
