<div class="fondo-modal-imagen fadeIn fast" [class.oculto]="ocultarModal">

  <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Cargar imagen</h4>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                        (click)="cerrarModal()"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <h3>Selecciona una imagen</h3>
                <div class="img-container">
                  <img *ngIf="!imgTemp" [src]="imagen" class="img-avatar">
                  <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
                </div>
                <br/>
                <input type="file" (change)="establecerImagen($any($event.target).files[0])" [(ngModel)]="imgSeleccionada">
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal"
                        (click)="cerrarModal()">Cancelar</button>
                <button type="button"
                        class="btn btn-primary"
                        [disabled]="!imgSeleccionada"
                        (click)="subirImagen()">Actualizar imagen</button>
            </div>
        </div>
    </div>
  </div>
</div>

