<div class="row animated fadeIn fast">
  <div class="col-4">
    <div class="card">
        <div class="card-body">
          <h4>Hospitales</h4>
          <div class="alert alert-info" *ngIf="hopitales.length === 0">
            <p class="mb-0">
              No hay hospitales
            </p>
          </div>
          <div class="table-responsive" *ngIf="hopitales.length > 0">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Avatar</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let hospital of hopitales" class="animated fadeIn fast">
                    <td>1</td>
                    <td><img [src]="hospital.img |imagen :'hospitales'" class="avatar"></td>
                    <td>{{ hospital.nombre }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
        <div class="card-body">
          <h4>Médicos</h4>
          <div class="alert alert-info" *ngIf="medicos.length === 0">
            <p class="mb-0">
              No hay médicos
            </p>
          </div>
          <div class="table-responsive" *ngIf="medicos.length > 0">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Avatar</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let medico of medicos" class="animated fadeIn fast">
                        <td>1</td>
                        <td><img [src]="medico.img |imagen :'medicos'" class="avatar"></td>
                        <td>
                          <a [routerLink]="['/dashboard/medico/', medico.uid]">{{ medico.nombre }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
        <div class="card-body">
          <h4>Usuarios</h4>
          <div class="alert alert-info" *ngIf="usuarios.length === 0">
            <p class="mb-0">
              No hay usuarios
            </p>
          </div>
          <div class="table-responsive" *ngIf="usuarios.length > 0">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Avatar</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios" class="animated fadeIn fast">
                        <td>1</td>
                        <td><img [src]="usuario.img |imagen :'usuarios'" class="avatar"></td>
                        <td>{{ usuario.nombre }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
  </div>
</div>
