.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

#themecolors .selector {
  cursor: pointer;
}

.cursorPointer {
  cursor: pointer;
}

.img-container {
  text-align: center;
}

.img-avatar {
  width: 200px;
  height: 200px;
}

.avatar {
  border-radius: 100%;
  width: 50px;
}

.w-100 {
  width: 100px !important;
}
