.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

#themecolors .selector {
  cursor: pointer;
}

.cursorPointer {
  cursor: pointer;
}

.img-container {
  text-align: center;
}

.img-avatar {
  width: 200px;
  height: 200px;
}

.avatar {
  border-radius: 100%;
  width: 50px;
}

.w-100 {
  width: 100px !important;
}

.w-140 {
  width: 140px !important;
}

.fondo-modal-imagen {
  background-color: rgb(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  height: 100%;
  left: 0px;
  width: 100%;
  z-index: 9999;
}

.oculto {
  display: none;
}
